/*CSS for the Home Page*/

#homePage {
	background-color: rgba(30, 30, 30, 1);
	color: white;
}

.spaces {
	padding-top: 20px;
	padding-bottom: 20px;
}

.images {
	max-height: 700px;
	border-radius: 20px;
}

/*Global classes*/

.driverLeft {
	float: left;
	margin-left: 20px;
	padding-top: 40px;

	margin-bottom: 40px;
	padding-bottom: 40px;
}

.driverRight {
	float: right;
	margin-right: 20px;
	padding-top: 40px;

	margin-bottom: 40px;
	padding-bottom: 40px;
}

.spacesBetweenDiv {
	margin-top: 30px;
}

.titleCard {
	padding-top: 20%;
}

.buttonCard {
	position: absolute;
	margin-left: 10%;
	margin-top: 15%;
}

.cardTeamsWallpapers {
	position: relative;
	float: left;
	margin-left: 20px;
	margin-top: 30px;
	padding-top: 40px;
	padding-bottom: 40px;
}

.cardTeamsHistory {
	position: relative;
	float: right;
	margin-right: 20px;
	padding-bottom: 40px;
	padding-top: 40px;
}

#mercedesBody {
    background-color: rgb(30,30,30);
	color: white;
}

#ferrariBody {
	background-color: rgb(30,30,30);
	color: white;
}

#redbullBody {
	background-color: rgb(30,30,30);
	color: white;
}

#renaultBody {
	background-color: rgb(30,30,30);
	color: white;
}

.imageCircuit {
	height: 80%;
	width: 80%;
}

.textCircuit {
	position: relative;
	text-align: center;
	padding-top: 30px;
}

.titleCardCircuit {
	color: rgb(204,194,55);
}

#circuitHome {
}

.left {
	float: left;
}

.right {
	float: right;
}




